.TeamPage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

.TeamName{
    grid-column: span 3;
    justify-self: start;
    align-self:center;
}
.TeamName h1{
    align-self: flex-start;
    font-size: 4rem;
}
.matchdetail{
    align-self:flex-start;
    grid-column: span 4;
}
.win-loss{
    padding: 30px;
    justify-self: center;
    text-align: center;
}
.more{
    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
}
  
}